#app,
body,
html {
  height: 100%;
}

body {
  font-family: "Microsoft YaHei";
}

#app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  text-align: center;
  padding: 10px;
}

h1, h2 {
  font-weight: bold !important;
}

h4 {
  display: inline;
}

input {
  display: inline !important;
  width: 100px !important;
  align-self: end;
}

.tab-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-pane {
  width: 80%;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-row {
  align-self: center;
}

.tab-pane {
  margin-top: 10px;
  text-align: center;
}

.nav {
  align-self: center;
}

.nav {
  text-align: center;
}

.type {
  text-align: left;
}

.alpha {
  display: inline;
}

.alpha-nav {
  text-align: center;
}

.submit {
  position: fixed;
  right: 10px;
  top: 200px;
}

.res {
  font-weight: bold;
}

.bottom-button {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px !important;
}

.alert {
  display: block;
  position: fixed;
  bottom: 50px;
  left: 45%;
}

.loading {
  font-size: 1.5em;
  margin-top: 20px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.4em !important;
  }
  h3 {
    font-size: 1.2em !important;
  }
  h4 {
    font-size: 1em !important;
  }
}
